@import './base.scss';
@import './vars.scss';
@import './mixins.scss';

* {
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  margin: 0;
  font-family: $mainFontFamily;
  font-size: $mainFontSize;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.filter-caption {
  font-size: toRem(18px);
  font-weight: 600;
  display: block;
  margin: 20px 0;
}
